@import "tailwindcss";
@import 'datatables.net-dt';
@import 'datatables.net-responsive-dt';
@import 'datatables.net-scroller-dt';

@theme {
    --font-sans: 'Roboto', sans-serif;
}

@layer base {
    body {
        @apply text-sm overflow-y-auto overflow-x-hidden leading-normal;
        @apply text-[#6A7287] font-sans;
    }

    h2 {
        @apply text-[#202C4B];
    }
}

@layer components {
    .account-page {
        @apply bg-white;
    }

    .card {
        @apply mb-6 bg-white border border-[#E9EDF4] rounded-md relative;
        @apply transition-all duration-500 ease-in-out;
        box-shadow: 0px 4.4px 12px -1px rgba(222, 222, 222, 0.3607843137);
    }

    .card-body {
        @apply grow shrink basis-auto;
    }

    .card .card-body {
        @apply p-5;
    }

    .row {
        @apply flex flex-wrap mt-0 -mx-3;
    }

    .btn {
        @apply rounded-md cursor-pointer py-2 px-3 text-sm font-medium;
        @apply transition-all duration-500;
    }

    .btn.btn-primary {
        @apply text-white bg-[#506EE4] border border-[#506EE4];
    }

    .form-label {
        @apply text-sm font-medium text-[#202C4B] mb-2 inline-block;
    }

    .form-control {
        @apply border border-[#E9EDF4] rounded-md h-[38px];
        @apply text-[#202C4B] bg-white text-sm appearance-none;
        @apply transition-all duration-500 py-2 px-3 block w-full;
    }

    .form-check {
        @apply block pl-6;
    }

    .form-check .form-check-input {
        @apply float-left -ml-6;
    }

    .form-check-md .form-check-input {
        @apply w-5 h-5;
    }

    .form-check-input[type="checkbox"] {
        @apply rounded-sm;
    }

    .form-check-input {
        @apply bg-white border border-[#E9EDF4] appearance-none;
        @apply checked:bg-[#3D5EE1] checked:border-[#3D5EE1];
    }

    .header {
        @apply h-14 z-10 bg-white fixed top-0 left-0 right-0;
        @apply transition-all duration-500 ease-in-out;
        @apply border-b border-b-[#E9EDF4];
    }

    .header .header-left {
        @apply flex items-center justify-between float-left h-14;
        @apply text-center z-[1] bg-white py-0 px-[15px];
        @apply transition-all duration-500 ease-in-out;
        @apply border-b border-b-[#E9EDF4];
        @apply absolute w-full;
        @apply lg:relative lg:w-[252px];
    }

    .header .mobile-btn {
        @apply text-[#3D5EE1] text-2xl h-[60px] w-[60px] leading-[60px];
        @apply z-[2] py-0 px-5 absolute top-0 left-0 block;
        @apply lg:hidden;
    }

    .header .mobile-user-menu {
        @apply text-white text-2xl h-[60px] w-[60px] leading-[60px];
        @apply z-[2] py-0 px-5 block float-right absolute top-0 right-0;
        @apply lg:hidden;
    }

    .header .header-left .logo {
        @apply text-[#202C4B] text-center w-full cursor-pointer inline-block leading-0;
        @apply transition-all duration-500 ease-in-out;
        @apply lg:w-auto;
    }

    .dropdown {
        @apply relative;
    }

    .dropdown-menu {
        @apply border border-[#E9EDF4] text-[#202C4B] bg-white z-[4] block;
        @apply transition-all duration-500 ease-in-out mt-2 opacity-100;
        @apply visible absolute top-0 right-0 text-sm shadow-lg rounded-md;
        @apply min-w-40;
    }

    .dropdown-item {
        @apply text-[#202C4B] text-sm leading-10 hover:bg-[#F4F6FA];
        @apply block w-full clear-both bg-transparent py-0 px-2.5 whitespace-nowrap;
        @apply cursor-pointer transition-all duration-500 ease-in-out;
    }

    .header .user-menu {
        @apply hidden items-center justify-center;
        @apply m-0 h-full border-b-0 py-0 px-6 relative;
        @apply transition-all duration-500 ease-in-out;
        @apply lg:flex;
    }

    .header .dropdown-menu {
        @apply lg:opacity-0 lg:invisible;
        @apply lg:right-0 lg:left-[unset] lg:top-[85px] lg:m-0 lg:p-0;
        @apply lg:rounded-md lg:shadow-lg lg:block lg:border-0 lg:min-w-[200px];
        @apply lg:transition-all lg:duration-500 lg:ease-in-out;
    }

    .header .dropdown-menu.show {
        @apply opacity-100 mt-2 visible transition-all duration-500 ease-in-out;
    }

    .nav-item {
        margin-inline-end: 0.5rem;
    }

    .btn {
        @apply inline-block px-3 py-2 cursor-pointer select-none;
        @apply text-sm text-center font-medium leading-normal rounded-md;
        @apply transition-all duration-500;
    }

    .btn-outline-light {
        @apply text-[#515B73] border border-[#E9edf4];
        @apply hover:text-[#515B73] hover:bg-[#E9EDF4] hover:border-[#E9EDF4];
    }

    .btn-icon {
        @apply w-[37px] h-[37px];
    }
}